//Анимация которая поднимает кнопку на верх на 5px
@keyframes BtnToUp
    0%
        opacity: 0
        transform: translateY(5rem)
    100%
        opacity: 1
        transform: translateY(0)


//Анимация которая двигает текст слева на право
@keyframes leftToRight
    0%
        opacity: 0
        transform: translateX(-10rem)
    80%
        transform: translateX(1rem)
    100%
        opacity: 1
        transform: translateX(0)

//Анимация которая двигает текст справа на лево
@keyframes RightToleft
    0%
        opacity: 0
        transform: translateX(1rem)
    80%
        transform: translateX(-1rem)
    100%
        opacity: 1
        transform: translateX(0)